
.bg-dark {
  background-color: #333 !important;
}

.img-fluid {
  border: 8px solid #d2603a !important;
}
.text-primary{
  color: #f78f20 !important;
}
.bg-primary{
  background-color: #f78f20 !important;
}

.hr {
  width: 100%;
  height: 50px;
  position: relative;
}

.hr .hr1 hr {
  display: inline-block;
  margin: 0;
  border: 8px solid #f78f20;
  border-radius: 50px;
  opacity: 1;
  width: 40%;
  position: absolute;
  z-index: 1;
}

.hr .hr2 hr {
  display: inline-block;
  border: 4px solid #333;
  border-radius: 50px;
  opacity: 1;
  width: 100%;
  position: absolute;
  margin: 4px 0px;
}